<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>484175178561-cbi5qk4pcdutcjspq5uda1ha39e74ucq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484175178561-cbi5qk4pcdutcjspq5uda1ha39e74ucq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>484175178561-sdou6cvkb6mrn0db4ktchesvu1ejh38k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAywRXpj8whV9oVf2sZ-7XU0LW9wsci20k</string>
	<key>GCM_SENDER_ID</key>
	<string>484175178561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rhm.agent</string>
	<key>PROJECT_ID</key>
	<string>remedial-agent</string>
	<key>STORAGE_BUCKET</key>
	<string>remedial-agent.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484175178561:ios:07b29a87e628c842e18fc0</string>
</dict>
</plist>